<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOMEN</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav-bar></nav-bar>
    </header>

    <main>
      <!-- Hero Section -->
      <div class="container col-xxl-8 px-4 py-1 hero">
        <div class="row flex-lg-row-reverse align-items-center g-5">
          <div class="col-lg-6">
            <h1 class=" hero-welcome">Selamat datang Sobat Mental,</h1>
            <h2 class="hero-subtext">
              Atasi Masalah Kesehatan<br />
              Mentalmu & Raih Kehidupan<br />
              yang Lebih Bahagia!
            </h2>

            <p class="lead hero-description">
              Saatnya kita bersama-sama menghadapinya dan mengambil
              langkah untuk meningkatkan kualitas hidup kita.
            </p>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary rounded-pill">Selengkapnya</button>
            </div>
          </div>

          <div class="col-10 col-sm-8 col-lg-6">
            <img src="images/hero.png" class="hero-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" />
          </div>
        </div>
      </div>

      <img src="images/artikel1.png" alt="" style="width: 80%;">
      <img src="images/artikel1.png" alt="" style="width: 80%;">
      <img src="images/artikel1.png" alt="" style="width: 80%;">

      <!-- Tombol Selengkapnya yang menggulir ke section 2
            <button type="button" class="btn btn-primary rounded-pill" id="btnmain" onclick="scrollToSection2()">Selengkapnya</button>
          -->
    </main>

    <footer>
      <foot-bar></foot-bar>
    </footer>
  </body>
</html>
